:host {
    display: block;
    height: 200px;
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    border: 1px solid #ddd;
  }
  .paginamapeamento {
    justify-content: center;
    align-items: center;
    display: flex;
  }