/* You can add global styles to this file, and also import other style files */

@mixin fx-border-box {
  box-sizing: border-box;
}

.fx-border-box {
  box-sizing: border-box;
}

.fx-display-flex {
  @include fx-border-box;
  display: flex;
}

@mixin fx-flex($percentual) {
  @include fx-border-box;
  flex: 1 1 $percentual;
  max-width: $percentual;
}

.fx-row {
  @extend .fx-display-flex;
  flex-direction: row;
}

.fx-column {
  @extend .fx-display-flex;
  flex-direction: column;
}

.fx-flex {
  @include fx-border-box;
  //flex: 1 1 0%;
  flex: 1 1 1e-9px;
}

.fx-aic {
  align-items: center;
}

.hf {
  height: 100%;
}

.wf {
  width: 100%;
}

.pd-10 {
  padding: 10px;
}

.pd-5 {
  padding: 5px;
}

.pdb-10 {
  padding-bottom: 10px;
}

.gap-5 {
  gap: 5px;
}

.ovh {
  overflow: hidden;
}

.ova {
  overflow: auto;
}

.center-panel {
  top: 40px;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
