<div class="fx-column" style="margin: 50px">
  <form nz-form [formGroup]="validateForm" nzLayout="vertical">
    <nz-form-item>
      <nz-form-label nzFor="descricao">Descrição</nz-form-label>
      <nz-form-control nzErrorTip="Informe uma drescrição!">
        <input nz-input formControlName="descricao" />
      </nz-form-control>
    </nz-form-item>

    <div nz-row>
      <div nz-col>
        <label nz-checkbox formControlName="ativo">
          <span>Ativo</span>
        </label>
      </div>
    </div>

    <nz-upload
      [(nzFileList)]="fileList"
      [nzBeforeUpload]="beforeUpload"
      [nzAccept]="'.pdf'"
      [nzMultiple]="false"
      [nzDisabled]="fileList.length === 1"
    >
      <button nz-button>
        <span nz-icon nzType="upload"></span>
        Carregar .PDF
      </button>
    </nz-upload>

    <button
      nz-button
      [nzType]="'primary'"
      style="float: right"
      (click)="submitForm()"
    >
      Enviar Catalogo
    </button>
  </form>
</div>
