<div class="fx-row gap-5" style="padding-top: 20px">
  <div class="fx-column fx-flex">
    <form nz-form [formGroup]="validateForm" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzFor="titulo">Titulo</nz-form-label>
        <nz-form-control nzErrorTip="Informe uma titulo!">
          <input nz-input formControlName="titulo" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="descricao">Descrição</nz-form-label>
        <nz-form-control nzErrorTip="Informe uma drescrição!">
          <input nz-input formControlName="descricao" />
        </nz-form-control>
      </nz-form-item>

      <div nz-row>
        <div nz-col>
          <label nz-checkbox formControlName="ativo">
            <span>Ativo</span>
          </label>
        </div>
      </div>

      <div
        class="fx-row"
        style="justify-content: end; gap: 10px; align-items: center"
      >
        @if(enviandoCatalogo){
        <nz-spin nzSimple></nz-spin>
        }
        <button nz-button [nzType]="'primary'" (click)="submitForm()">
          Enviar Arquivos
        </button>
      </div>
    </form>
  </div>

  <div class="fx-flex">
    <nz-upload
      [(nzFileList)]="fileList"
      [nzBeforeUpload]="beforeUpload"
      [nzAccept]="['.png', '.jpg']"
      [nzMultiple]="true"
    >
      <button nz-button>
        <span nz-icon nzType="upload"></span>
        Carregar Imagens
      </button>
    </nz-upload>
  </div>
</div>
