<div class="fx-row hf">
  <div class="fx-column gap-5 pd-10 fx-aic">
    <button
      nz-button
      nzType="dashed"
      nzShape="circle"
      nz-tooltip="Atualizar Lista"
      (click)="forceReload()"
    >
      <fa-icon [icon]="faRefresh"></fa-icon>
    </button>

    <button
      nz-button
      nzType="dashed"
      nzShape="circle"
      nz-tooltip="Importar Produtos"
      (click)="navegarImportar()"
    >
      <fa-icon [icon]="faUpload"></fa-icon>
    </button>
  </div>
  <div class="fx-flex ovh">
    <div class="hf ova">
      <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
        @for(item of produtos$ | async; track item.id){
        <nz-list-item>
          <nz-list-item-meta [nzDescription]="item.descricao">
            <nz-list-item-meta-title>
              <strong>{{ item.referencia }}</strong>
            </nz-list-item-meta-title>
            <nz-list-item-meta-title>
              <span>Ativo: {{ item.ativo | bolhuman }}</span>
            </nz-list-item-meta-title>
            <nz-list-item-meta-title>
              <span>Mapeados: {{ item.mapeados }}</span>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </nz-list-item>
        } @empty {
        <nz-list-empty></nz-list-empty>
        }
      </nz-list>
    </div>
  </div>
</div>
