<div class="fx-row hf">
  <div class="fx-column gap-5 pd-10 fx-aic">
    <button
      nz-button
      nzType="dashed"
      nzShape="circle"
      nz-tooltip="Atualizar Lista"
      (click)="forceReload()"
    >
      <fa-icon [icon]="faRefresh"></fa-icon>
    </button>

    <button
      nz-button
      nzType="dashed"
      nzShape="circle"
      nz-tooltip="Importar Produtos"
      (click)="navegarImportar()"
    >
      <fa-icon [icon]="faUpload"></fa-icon>
    </button>
  </div>
  <div class="fx-flex ovh">
    <div class="hf ova pd-10">
      @if(loading){
      <nz-spin
        nzSimple
        [nzSize]="'large'"
        style="text-align: center; padding-top: 20px"
      ></nz-spin>
      }
      <div nz-row [nzGutter]="[20, 20]">
        @for(item of produtos$ | async; track item.id){

        <div nz-col [nzSpan]="24 / 2">
          <nz-card [nzActions]="[actinoEditar, actionRemover]">
            <nz-card-meta
              [nzTitle]="item.referencia"
              [nzDescription]="item.descricao"
            ></nz-card-meta>
          </nz-card>
          <ng-template #actinoEditar>
            <div (click)="editar(item)" nz-tooltip="Editar">
              <fa-icon [icon]="faEdit"></fa-icon>
            </div>
          </ng-template>
          <ng-template #actionRemover>
            <div (click)="remover(item)" nz-tooltip="Remover">
              <fa-icon [icon]="faTrash" style="color: red"></fa-icon>
            </div>
          </ng-template>
        </div>
        }
      </div>
    </div>
  </div>
</div>
